@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }
  input {
    @apply border-secondary outline-none;
  }
}

@layer components {
  .junior-input {
    @apply border-2 border-secondary placeholder:text-secondary px-6 py-3 bg-transparent w-full rounded-md outline-none text-lg;
  }
  .bg-shape {
    background: linear-gradient(
      269.68deg,
      #ff995d 3.05%,
      #fb795c 104.52%,
      #f35861 205.98%,
      #e5346c 307.45%,
      #3d14a4 693.51%
    );
  }
  .custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
  }

  .custom-shape-divider-bottom .shape-fill {
    fill: #ffffff;
  }
  .text-grad {
    background: linear-gradient(
      90deg,
      #ff995d 0%,
      #fb795c 14.29%,
      #f35861 28.57%,
      #e5346c 42.86%,
      #ce007a 57.14%,
      #af0089 71.43%,
      #830098 85.71%,
      #3d14a4 100%
    );
    @apply font-bold text-transparent bg-clip-text;
  }
  .left-right:nth-child(odd) {
    @apply justify-self-start self-start;
  }
  .left-right:nth-child(even) {
    @apply justify-self-end self-end;
  }
  .teacher:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .teacher:nth-child(even) {
    flex-direction: row;
  }
}
